---
layout: page
page_title: About Us
title: About - Southeast Engineers
description: >-
  With a combined 70 plus years of experience, Southeast Engineers has become a
  market leader in a wide range of engineering services.
pages_header_image: /assets/images/about.webp
contact_image: /assets/images/Residential/2-Residential-Contact-pxl5906-3000px_orig.jpg
who_we_help:
  title: Who We Help
  description: >-
    Southeast Engineers is proud to serve the commercial and residential
    communities in delivery of engineered plans and specifications to feasibly
    accomplish client objectives. With our knowledge of industry standards and
    codes, Southeast Engineers produces efficient, cost effective designs for
    construction. Additionally, Southeast Engineers assists clients in
    diagnosing building related defects and provides recommendations to
    remediate problem conditions.
  image: /assets/images/about_02.webp
  links:
    - text: Aquatics Engineering
      url: /service-commercial?tab=Aquatics&section=servicetab
    - text: Civil Engineering
      url: /service-commercial?tab=Civil&section=servicetab
    - text: Structural Engineering
      url: /service-commercial?tab=Commercial&section=servicetab
our_team:
  title: Our Team
  our_team:
  members:
    - name: James J. “Jimmy” Ricks, P.E.
      position: Principal Civil Engineering Division
      image: /assets/images/team/Jimmy-Ricks.png
    - name: John “Tommy” Watson, P.E.
      position: Principal Civil Engineering Division
      image: /assets/images/team/Headshots-0013.png
    - name: Austin Toney, P.E.
      position: Principal Structural Engineering Division
      image: /assets/images/team/Headshots-0022.png
    - name: Ryan Dunlevy, P.E.
      position: Principal Structural & Aquatics Engineering Division
      image: /assets/images/team/Headshots-0007.png
    - name: Stephanie Stanford, P.E.
      position: Civil Engineering Division
      image: /assets/images/team/Headshots-0018.png
    - name: Christine Dunlevy
      position: Business Manager
      image: /assets/images/team/Headshots-0014.png
    - name: Thomas Myers, P.E.
      position: Structural Engineering Division
      image: /assets/images/team/Headshots-0001.png
    - name: Lena Peltier, P.E.
      position: Civil Engineering Division
      image: /assets/images/team/Lena-Peltier.png
    - name: Brandon Bergeron
      position: Civil Engineering Division
      image: /assets/images/team/Brandon-Bergeron.png
    - name: Terral Davis, E.I.
      position: Civil Engineering Division
      image: /assets/images/team/Terral-Davis.png
    - name: Cameron Lunsford, E.I.
      position: Civil Engineering Division
      image: /assets/images/team/Cameron-Lunsford.png
    - name: Darlene Shingleur
      position: Administrator
      image: >-
        https://res.cloudinary.com/dhrcud0tp/Burning
        Stick/south-eastern-engineers/images/kawiug1l5jachrduborh.png
    - name: Blake Watson, E.I.
      position: Aquatics Engineering Division
      image: >-
        https://res.cloudinary.com/dhrcud0tp/Burning
        Stick/south-eastern-engineers/images/jqterg4fngoaa6hj4wxg.png
    - name: Alaina Thompson
      position:
      image: >-
        https://res.cloudinary.com/dhrcud0tp/Burning
        Stick/south-eastern-engineers/images/xzyqs37asq4l3oxceaz6.png
    - name: Keith Dupuy
      position: Civil Engineering Division
      image: >-
        https://res.cloudinary.com/dhrcud0tp/Burning
        Stick/south-eastern-engineers/images/cj5hg8v8r1udbxwdrg4h.png
    - name: Robert Lee, P.E.
      position: Emeritus Principal
      image: /assets/images/team/Headshots-0009.png
permalink: /about
---
<!-- About Help Area -->
<div class="seabout-help-section py-5">
  <div class="container-fluid px-lg-10 px-0">
    <div class="row px-lg-10 px-6 justify-content-around">
      <div class="col-lg-7 col-md-7 col-sm-12 mb-5 mt-4">
        <div class="help-area-info">
          <h2>{{ page.who_we_help.title }}</h2>
          <p>{{ page.who_we_help.description }}</p>
          <ul class="ps-0 ms-0 d-block d-md-flex list-unstyled">
            {% for link in page.who_we_help.links %}
            <li><a class="section-help-list me-4" href="{{ link.url }}">{{ link.text }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="help-area-img-area mt-5">
          <img src="{{ page.who_we_help.image }}" alt="{{ page.who_we_help.title }}" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our Team Area -->
<div class="about-team-area">
  <div class="container-fluid">
    <div class="team-area-header mb-5 px-lg-10">
      <h2 class="teamarea-header-title pb-2">{{ page.our_team.title }}</h2>
    </div>
    <div class="row px-lg-10">
      {% for member in page.our_team.members %}
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 p-3">
        <div class="single-team">
          <div class="team-person">
            <img src="{{ member.image }}" alt="{{ member.name }}" />
          </div>
          <div class="team-person-info">
            <div class="col-lg-8 mx-auto">
              <h4 class="team-title">{{ member.name }}</h4>
            </div>
            <div class="col-md-10 mx-auto">
              <p class="about-team-para">{{ member.position }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
