---
layout: page
page_title: Featured Projects
title: Featured Projects - Southeast Engineers
description: >
  With a combined 70 plus years of experience, Southeast Engineers has become a
  market leader in a wide range of engineering services.
pages_header_image: /assets/images/feature_04.webp
contact_image: assets/images/1-Featured-Contact-Heaven's-Eye-4.jpg
portfolio:
  - name: Campion Pool and Lazy River
    images:
      - /assets/images/portfolios/01.jpg
      - /assets/images/portfolios/02.jpg
    location: Lafayette, LA
    service: Aquatics Engineering
  - name: Highland Road Splash Pad
    images:
      - /assets/images/portfolios/02.jpg
    location: Baton Rouge, LA
    service: Aquatics Engineering
  - name: Lakeshore
    images:
      - assets/images/portfolios/10.jpg
    location: Slidel, LA
    service: Aquatics Engineering
  - name: NFL Therapy Pool
    images:
      - assets/images/portfolios/11.jpg
    service: Aquatics Engineering
  - name: Rukus Pool
    location: Austin, TX
    images:
      - assets/images/portfolios/12.jpg
    service: Aquatics Engineering
  - name: The District
    location: Baton Rouge, LA
    image: assets/images/portfolios/13.jpg
    service: Aquatics Engineering
  - name: Wildwood
    location: Baton Rouge, LA
    image: assets/images/portfolios/14.jpg
    service: Aquatics Engineering
  - name: Wildwood
    location: Lubbock, TX
    image: assets/images/portfolios/15.jpg
    service: Aquatics Engineering
  - name: Himel Residence
    image: /assets/images/portfolios/03.jpg
    location: New Orleans, LA
    service: Residential Structural Engineering
<!--  - name: Lakeshore-->
<!--    image: assets/images/portfolios/04.jpg-->
<!--    location: Slidell, LA-->
<!--    service: Structural Engineering-->
permalink: /featured
---
<section class="featured-service-section">
  <!-- Card Grid -->
  <div class="container content-space-b-2 content-space-b-lg-3">
    <div class="col-md-5">
      <!-- Select -->
      <div class="tom-select-custom mb-5 d-flex align-items-center border-bottom border-white w-100">
        <small class="text-primary">Service</small>
        <select class="js-select form-select custom-select text-white bg-transparent" id="js-filter-dropdown" autocomplete="off" data-hs-tom-select-options='{
                "placeholder": "Select Service",
                "hideSearch": true
              }'>
         <option value="all" selected>All Services</option>
          <option value="Aquatics Engineering">Aquatics Engineering</option>
          <option value="Civil Engineering">Civil Engineering</option>
          <option value="Structural Engineering">Structural Engineering</option>
          <option value="Delegated Systems Design">Delegated Systems Design</option>
          <option value="Residential Structural Engineering">Residential Structural Engineering</option>
<!--          <option value="Drainage Modeling">Drainage Modeling</option>-->
          <option value="Municipal Infrastructure">Municipal Infrastructure</option>
        </select>
      </div>
      <!-- End Select -->
    </div>

        <div class="js-shuffle row row-cols-1 row-cols-sm-2 row-cols-md-3">
          {% for item in page.portfolio %}
  <div class="js-shuffle-item col mb-5" data-groups='["{{item.service | truncateword: 1}}"]'>
    {% for image in item.images %}
      <!-- Check if the loop index is 1 (Liquid uses 1-based index, not 0-based), which is the first image -->
      {% if forloop.index == 1 %}
        <a class="media-viewer" href="{{ image }}" data-fslightbox="gallery{{ forloop.parentloop.index }}">
          <img class="card-img-top object-cover port-img" src="{{ image }}" alt="{{ item.name }} - {{ item.service }}" />
        </a>
      {% else %}
        <!-- For the other images, do not display, but keep it in DOM for the lightbox -->
        <a style="display: none;" href="{{ image }}" data-fslightbox="gallery{{ forloop.parentloop.index }}"></a>
      {% endif %}
    {% endfor %}
    <div class="card-body mt-4">
      <div class="w-100 border-bottom border-primary mb-2">
        <h3 class="fw-semibold text-white robo-condensed">{{ item.name }}</h3>
      </div>
      <h4 class="fw-normal text-white robo-condensed">{{ item.location }}</h4>
      <em class="card-subtitle text-white">{{ item.service }}</em>
    </div>
  </div>
{% endfor %}

    </div>
    <!-- End Row -->
  </div>
  <!-- End Card Grid -->
</section>
{% comment %}
<section class="featured-service-section">
    <div class="container">
      <div class="featured-service-header">
        <div class="featured-service-tab">
          <div class="row">
            <div class="col-lg-12">
              <div class="featcured-tab"><h4>Service</h4>
                <ul class="nav nav-pills nav-tabs ul-featcured-navlist" id="myTab" role="tablist">
                  <li class="nav-item dropdown" role="presentation">
                    <a class="nav-link ul-featcured-nav-list dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Aquatics Engineering</a>
                    <ul class="dropdown-menu ">
                      <li class="nav-item" role="presentation">
                        <button class="dropdown-item nav-link featcured-tab-list active" id="Foundation-tab" data-bs-toggle="tab" data-bs-target="#Foundation" type="button" role="tab" aria-controls="Foundation" aria-selected="true">Aquatics Engineering</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="dropdown-item nav-link featcured-tab-list" id="Structural-tab" data-bs-toggle="tab" data-bs-target="#Structural" type="button" role="tab" aria-controls="Structural" aria-selected="false" tabindex="-1">Civil Engineering</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="dropdown-item nav-link featcured-tab-list" id="Residential-tab" data-bs-toggle="tab" data-bs-target="#Residential" type="button" role="tab" aria-controls="Residential" aria-selected="false" tabindex="-1">Structural Engineering</button>
                      </li>
                      <li class="nav-item" role="presentation">
                     <button class="dropdown-item nav-link featcured-tab-list" id="Floodplain-tab" data-bs-toggle="tab" data-bs-target="#Floodplain" type="button" role="tab" aria-controls="Floodplain" aria-selected="false" tabindex="-1">Delegated Systems Design</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="dropdown-item nav-link featcured-tab-list" id="Subdivision-tab" data-bs-toggle="tab" data-bs-target="#Subdivision" type="button" role="tab" aria-controls="Subdivision" aria-selected="false" tabindex="-1">Drainage Modeling</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="dropdown-item nav-link featcured-tab-list" id="Municipal-tab" data-bs-toggle="tab" data-bs-target="#Municipal" type="button" role="tab" aria-controls="Municipal" aria-selected="false" tabindex="-1">Municipal Infrastructure</button>
                      </li>
                    </ul>
                  </li>
                </ul>
                <!-- tab list end here  -->
              </div>
            </div>
          </div>
          <!-- tab menu area end  -->
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active show" id="Foundation" role="tabpanel" aria-labelledby="Foundation-tab">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/01.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Campion</a></h2>
                      <h4>Lafayette, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/02.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Highland Road Splash Pad</a></h2>
                      <h4>Baton Rouge, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/03.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Himel Residence</a></h2>
                      <h4>New Orleans, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/04.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Lakeshore</a></h2>
                      <h4>Slidell, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/05.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">NFL Therapy Pool</a></h2>
                      <h4>Location</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/06.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Rukus Pool</a></h2>
                      <h4>Austin, TX</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/07.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">The District</a></h2>
                      <h4>Baton Rouge, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/08.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Wildwood</a></h2>
                      <h4>Baton Rouge, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/09.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Wildwood</a></h2>
                      <h4>Lubbock, TX</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
              </div>
            </div>
             <!-- single tab end here  -->
             <div class="tab-pane fade " id="Structural" role="tabpanel" aria-labelledby="Structuraln-tab">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/01.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Campion</a></h2>
                      <h4>Lafayette, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/09.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Highland Road Splash Pad</a></h2>
                      <h4>Baton Rouge, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/08.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Himel Residence</a></h2>
                      <h4>New Orleans, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/07.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Lakeshore</a></h2>
                      <h4>Slidell, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/06.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">NFL Therapy Pool</a></h2>
                      <h4>Location</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/07.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Rukus Pool</a></h2>
                      <h4>Austin, TX</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/08.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">The District</a></h2>
                      <h4>Baton Rouge, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/02.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Wildwood</a></h2>
                      <h4>Baton Rouge, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/01.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Wildwood</a></h2>
                      <h4>Lubbock, TX</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
              </div>
            </div>
             <!-- single tab end here -->
             <div class="tab-pane fade " id="Residential" role="tabpanel" aria-labelledby="Residential-tab">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/09.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Campion</a></h2>
                      <h4>Lafayette, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/08.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Highland Road Splash Pad</a></h2>
                      <h4>Baton Rouge, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/07.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Himel Residence</a></h2>
                      <h4>New Orleans, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/06.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Lakeshore</a></h2>
                      <h4>Slidell, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/05.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">NFL Therapy Pool</a></h2>
                      <h4>Location</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/04.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Rukus Pool</a></h2>
                      <h4>Austin, TX</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/03.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">The District</a></h2>
                      <h4>Baton Rouge, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/02.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Wildwood</a></h2>
                      <h4>Baton Rouge, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/01.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Wildwood</a></h2>
                      <h4>Lubbock, TX</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
              </div>
            </div>
            <!-- single tab end here -->
            <div class="tab-pane fade " id="Floodplain" role="tabpanel" aria-labelledby="Floodplain-tab">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/09.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Campion</a></h2>
                      <h4>Lafayette, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/08.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Highland Road Splash Pad</a></h2>
                      <h4>Baton Rouge, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/07.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Himel Residence</a></h2>
                      <h4>New Orleans, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/06.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Lakeshore</a></h2>
                      <h4>Slidell, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/05.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">NFL Therapy Pool</a></h2>
                      <h4>Location</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/04.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Rukus Pool</a></h2>
                      <h4>Austin, TX</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/03.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">The District</a></h2>
                      <h4>Baton Rouge, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/02.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Wildwood</a></h2>
                      <h4>Baton Rouge, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/01.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Wildwood</a></h2>
                      <h4>Lubbock, TX</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
              </div>
            </div>
            <!-- single tab end here -->
            <div class="tab-pane fade " id="Subdivision" role="tabpanel" aria-labelledby="Subdivision-tab">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/09.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Campion</a></h2>
                      <h4>Lafayette, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/08.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Highland Road Splash Pad</a></h2>
                      <h4>Baton Rouge, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/07.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Himel Residence</a></h2>
                      <h4>New Orleans, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/06.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Lakeshore</a></h2>
                      <h4>Slidell, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/05.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">NFL Therapy Pool</a></h2>
                      <h4>Location</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/04.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Rukus Pool</a></h2>
                      <h4>Austin, TX</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/03.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">The District</a></h2>
                      <h4>Baton Rouge, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/02.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Wildwood</a></h2>
                      <h4>Baton Rouge, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/01.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Wildwood</a></h2>
                      <h4>Lubbock, TX</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
              </div>
            </div>
            <!-- single tab end here -->
            <div class="tab-pane fade " id="Municipal" role="tabpanel" aria-labelledby="Municipal-tab">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/09.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Campion</a></h2>
                      <h4>Lafayette, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/08.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Highland Road Splash Pad</a></h2>
                      <h4>Baton Rouge, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/07.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Himel Residence</a></h2>
                      <h4>New Orleans, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/06.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Lakeshore</a></h2>
                      <h4>Slidell, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/05.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">NFL Therapy Pool</a></h2>
                      <h4>Location</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/04.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Rukus Pool</a></h2>
                      <h4>Austin, TX</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/03.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">The District</a></h2>
                      <h4>Baton Rouge, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/02.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Wildwood</a></h2>
                      <h4>Baton Rouge, LA</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="featured-items">
                    <div class="featured-items-images">
                      <img src="/assets/images/portfolios/01.jpg" alt="Screenshot" />
                    </div>
                    <div class="featured-items-info">
                      <h2 class="featured-items-heding"><a href="#">Wildwood</a></h2>
                      <h4>Lubbock, TX</h4>
                      <p>Aquatics Engineering</p>
                    </div>
                  </div>
                </div>
                <!-- single featured area end  -->
              </div>
            </div>
            <!-- single tab end here -->
          </div>
        </div>
      </div>
    </div>
  </section>
{% endcomment %}
  <!-- our coustomar sayes area  -->
  <div class="about-btn-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="section-coustomer-about-left">
            <h4>What Our
              Customers
              Say</h4>
          </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12">
          <div class="section-coustomer-about-right">
            <p>The Team at Southeast Engineers has been outstanding in providing the engineering needs that we need. The turnaround for their work is second to none! Our business relies tremendously in their expertise.</p>
            <span>Tupac de la Cruz, Roofing Solutions</span>
          </div>
        </div>
      </div>
    </div>
  </div>
