---
layout: services
page_title: Services
title: Services - Southeast Engineers
description: >
  With a combined 70 plus years of experience, Southeast Engineers has become a
  market leader in a wide range of engineering services.
pages_header_image: /assets/images/services/DJI_0113.jpg
contact_image: /assets/images/services/3-Services-Contact-IMG_1800.jpg
permalink: /services
---
<div class="services-proses-section">
  <div class="container-fluid px-lg-10 px-6">
    <div class="services-proses-top px-lg-10 px-0">
      <div class="row">
        <div class="col-lg-3">
           <h2 class="tags-top-heading editable">
            What We Do
           </h2>
        </div>
        <div class="col-lg-8">
          <div class="tags-top-list">
            <ul class="tags-top-menu-list mb-0 list-unstyled">
              {% for list in site.services %}
               <li><a href="/service-{{list.type}}?tab={{list.page_title | truncatewords: 1 | remove: "..."}}&section={{list.page_title | truncatewords: 1 | remove: "..."}}" class="{% if list.page_title == "Drainage Modeling" %} d-none {% else %} tags-top-nav-link {% endif %}">{{ list.page_title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- services proses bottom  area start here  -->

      <div class="row px-lg-10 px-0 justify-content-around">
        <div class="col-lg-7 col-md-6 col-sm-12">
          <div class="proses-bottom-area-info">
             <h2 class="editable">
              Our Process
             </h2>
             <p class="editable"> Our goal here at Southeast Engineers is to save you time and money by delivering timely, efficient response to your needs. Our residential clients enjoy the cost-effective, sound designs that we provide. Our commercial clients enjoy the quick delivery time to move their projects forward. </p>
           <div class="proses-btn-area text-start">
            <a class="about-hero-btn" href="/contact">CONTACT US</a>
           </div>
          </div>
        </div>

        <div class="col-lg-5 col-md-6 d-sm-none d-md-block pb-sm-0 pb-5">
          <div class="bottom-img-area">
            <img src="https://res.cloudinary.com/dhrcud0tp/Burning Stick/south-eastern-engineers/images/hgiefb12wwc7sspnsnm0.jpg" alt="contact" class="editable img-fluid object-cover" srcset="/Burning Stick/south-eastern-engineers/images/hgiefb12wwc7sspnsnm0.jpg 1x, /Burning Stick/south-eastern-engineers/images/exgynpzj4wewi7ekva5l.jpg 2x" />
          </div>
        </div>

      </div>
    </div>
  </div>

<section class="residential-section">
  <div class="residentel-area">
    <div class="container">
      <div class="residential-header py-3">
         <h2>Residential</h2>
      </div>
      <div class="row">
        {% for item in site.services %}
        {% if item.type == 'residential' %}
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <a class="single-res-btn" href="/service-residential?tab={{ item.page_title | truncatewords: 1 | remove: "..." }}&section=servicetab">
          <div class="single-residential mb-5 pb-3">
            {% if item.image %}
            <div class="single-res-img mb-3">
              <img src="{{ item.pages_header_image }}" alt="{{ item.page_title }}" />
            </div>
            {% endif %}
            <div class="single-res-info">
               <h2 class="single-res-heading"> {{ item.page_title }} </h2>
               <p>{{ item.short_description }}</p>
             LEARN MORE
            </div>
          </div>
          </a>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="residential-extra"></div>
    </div>
  </div>
</section>
<!-- our  Residential section end here  -->
<section class="commercial-section">
  <div class="residentel-area">
    <div class="container">
      <div class="commercial-header">
         <h2 class="py-3">Commercial</h2>
      </div>
      <div class="row">
        {% for item in site.services %}
        {% if item.type == 'commercial' %}
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <a class=" single-res-btn" href="/service-Commercial?tab={{ item.page_title | truncatewords: 1 | remove: "..." }}&section=servicetab">
          <div class="single-residential mb-5 pb-3">
            <div class="single-res-img mb-3">
              <img src="{{ item.image }}" alt="{{ item.page_title }}" />
            </div>
            <div class="single-res-info">
               <h2 class="single-res-heading text-none"> {{ item.page_title }} </h2>
               <p>{{ item.short_description }}</p>
             LEARN MORE
            </div>
          </div>
          </a>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
