---
layout: page
page_title: "Commercial Services"
title: "Commercial Services - Southeast Engineers"
description: >
  With a combined 70 plus years of experience, Southeast Engineers has become a market leader in a wide range of engineering services.
pages_header_image: "/assets/images/residential/hero_area.jpg"
contact_image: /assets/images/Residential/2-Residential-Contact-pxl5906-3000px_orig.jpg
header_style_two: true
slider_section:
  title: "Our Commercial Work"
  list:
    - slider_item:
        - img_url: "/assets/images/Residential/slider/01.jpg"
        - img_url: "/assets/images/Residential/slider/02.png"
        - img_url: "/assets/images/Residential/slider/03.png"
    - slider_item:
        - img_url: "/assets/images/Residential/slider/03.png"
        - img_url: "/assets/images/Residential/slider/02.png"
        - img_url: "/assets/images/Residential/slider/01.jpg"
    - slider_item:
        - img_url: "/assets/images/Residential/slider/02.png"
        - img_url: "/assets/images/Residential/slider/03.png"
        - img_url: "/assets/images/Residential/slider/01.jpg"
services:
  - name: Aquatics Engineering
    image: /assets/images/Residential/2-Residential-Contact-pxl5906-3000px_orig.jpg
    description: At Southeast Engineers, our commitment to excellence shines through in our meticulously engineered designs for Commercial Aquatic Venues. Over the years, we've consistently upheld a high standard, guiding projects from conception to completion. The construction of commercial aquatic facilities demands precision in developing construction drawings, equipment submittals, and obtaining approvals from the governing Health Department within the specific project region. Leveraging the latest technology and adhering to applicable codes, our firm has successfully excelled in the planning, design, and construction administration of diverse
    service_detail:
      - name: Commercial Swimming Pool Design
        description: >-
          <p>Our two-stage Commercial Swimming Pool design process begins with a Professional Landscape Architect, Architect, or Designer crafting the geometric and depth profile, alongside specifying their desired water features. Following this, a fully engineered design is crafted to secure Health Department approval and facilitate the distribution of construction documents to contractors. Southeast Engineers' designs encompass essential components:</p>

          <ul>
          <li> Detailed Equipment Schedules and Specifications </li>
          <li> Site Layout ensuring Code Compliance and coordination with Landscape Architect/Civil Engineer</li>
          <li> Hydraulic Analysis and Plumbing Design</li>
          <li> Swimming Pool Construction Details</li>
          <li>Structural Design of Shotcrete, Gunite, or Reinforced Concrete Swimming Pool</li>
          <li> Equipment Room Layout with coordination among Mechanical, Electrical, and Plumbing Consultants</li>
          <li> Coordination with Regulatory Agencies for Permit Approval</li>
          </ul>
      - name: Commercial Splash Pad Design
        description: >-
          Complementing our expertise in Commercial Swimming Pool Designs, Southeast Engineers offers comprehensive engineering design services for recirculation and flow-through Splash Pads. Given the increasing complexity in obtaining Commercial Splash Pad Permits following the Center for Disease Control’s Model Aquatic Health Code (MAHC), our firm excels in navigating these challenges. Splash Pads, known for their stringent sanitization, monitoring, and safety measures as per MAHC requirements, are handled by our team. Our packages, akin to Commercial Swimming Pool Designs, are tailored specifically for splash pads, ensuring successful planning, design, permitting, and construction, all while keeping the project within the established budget.
      - name: Waterpark Aquatic Attractions
        description: >-
          For pre-designed waterpark attractions, Southeast Engineers steps in to coordinate supplemental equipment needs, such as recirculation systems and sanitizers, often not provided by manufacturers. Navigating the complex and time-consuming processes of construction management and Health Department approval, we collaborate seamlessly with various consultants and ride manufacturers. Our services extend to the development of accurate construction documents for bidding purposes, ensuring a streamlined and successful project delivery.

permalink: /service-commerical
---
<script>
document.addEventListener("DOMContentLoaded", function() {
  const params = new URLSearchParams(window.location.search);
  const tabId = params.get('tab');
  const sectionId = params.get('section');

  if (tabId) {
    // Activate the tab
    const tabTriggerEl = document.querySelector(`#${tabId}-tab`);
    if (tabTriggerEl) {
      new bootstrap.Tab(tabTriggerEl).show();
    }
  }

  if (sectionId) {
    // Scroll to the section
    const sectionEl = document.getElementById(sectionId);
    if (sectionEl) {
      sectionEl.scrollIntoView();
    }
  }
});
</script>
<!-- our Residential  section start here  -->
<div class="residential-slider-section">
  {% assign slider = page.slider_section %}
  <div class="container">
    <div class="residential-heder">
      {% if slider.title %}
       <h2>{{ slider.title }}</h2>
      {% endif %}
    </div>
    <!-- Swiper -->
    <div class="swiper res-slider">
      <div class="swiper-wrapper">
        {% for slider_item in slider.list %}
        <div class="swiper-slide">
          <div class="row">
            {% for slider_data in slider_item.slider_item %}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-2">
              <img class="res-single-img" src="{{ slider_data.img_url }}" alt="">
            </div>
            {% endfor %}

          </div>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
    <!-- swiper end  -->
    <!-- End Swiper -->
  </div>
</div>
<!-- residential foundation area start here  -->
<div class="residential-tab-area">
  <div class="container" id="servicetab">
    <div class="row residential-tab">
      <div class="ul-product-area">
        <div class="col-lg-12">
          <!-- Navbar Vertical -->
          <div class="navbar navbar-vertical navbar-expand-md">
            <!-- Navbar Toggle -->
            <div class="d-grid flex-grow-1">
              <button type="button" class="navbar-toggler border-0 shadow-0 rounded-0 border-bottom" data-bs-toggle="collapse" data-bs-target="#navbarTogglerNavMenu" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarTogglerNavMenu">
                <span class="d-flex justify-content-between align-items-center">
                  <span class="editable">Commercial Services</span>

                  <span class="navbar-toggler-default">
                    <i class="bi-chevron-down"></i>
                  </span>
                  <span class="navbar-toggler-toggled">
                    <i class="bi-x"></i>
                  </span>
                </span>
              </button>
            </div>
            <!-- End Navbar Toggle -->

            <div id="navbarTogglerNavMenu" class="collapse navbar-collapse">
              <!-- Navbar -->
              <ul class="navbar-nav p-md-0 p-2" id="myTab" role="tablist">
                {% for item in page.services %}
               <li class="nav-item me-4" role="presentation">
                 <a class="active fw-bold text-gray fs-4" id="{{item.name | truncatewords: 1 | remove: "..."}}-tab" data-bs-toggle="tab" data-bs-target="#{{item.name | truncatewords: 1 | remove: "..."}}" role="tab" aria-controls="{{item.name | truncatewords: 1 | remove: "..."}}" aria-selected="true">{{item.name}}</a>
               </li>
               {% endfor %}
               <li class="nav-item me-4" role="presentation">
                 <a class="fw-bold text-gray fs-4" href="#" id="Civil-tab" data-bs-toggle="tab" data-bs-target="#Civil" role="tab" aria-controls="Civil" aria-selected="false" tabindex="-1">Civil Engineering</a>
               </li>
               <li class="nav-item me-4" role="presentation">
                 <a class="fw-bold text-gray fs-4" href="#" id="Commercial-tab" data-bs-toggle="tab" data-bs-target="#Commercial" role="tab" aria-controls="Structural" aria-selected="false" tabindex="-1">Commercial Structural Engineering</a>
               </li>
                <li class="nav-item me-4" role="presentation">
                 <a class="fw-bold text-gray fs-4" href="#" id="Delegated-tab" data-bs-toggle="tab" data-bs-target="#Delegated" role="tab" aria-controls="Delegated" aria-selected="false" tabindex="-1">Delegated Systems Design</a>
               </li>
               <li class="nav-item me-4" role="presentation">
                 <a class="fw-bold text-gray fs-4" href="#" id="Drainage-tab" data-bs-toggle="tab" data-bs-target="#Drainage" role="tab" aria-controls="Drainage" aria-selected="false" tabindex="-1">Drainage Modeling</a>
               </li>
               <li class="nav-item me-4" role="presentation">
                  <a class="fw-bold text-gray fs-4" href="#" id="Municipal-tab" data-bs-toggle="tab" data-bs-target="#Municipal" role="tab" aria-controls="Municipal" aria-selected="false" tabindex="-1">Municipal Infrastructure</a>
                </li>
              </ul>
              <!-- End Navbar -->
            </div>
          </div>
          <!-- single tab start here   -->
        <div class="tab-content" id="myTabContent">
          {% for item in page.services %}
          <div class="tab-pane fade {% if forloop.first %}active show{% endif %}" id="{{item.name | truncatewords: 1 | remove: "..."}}" role="tabpanel" aria-labelledby="{{item.name | truncatewords: 1 | remove: "..."}}-tab">
            <div class="row">
              <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="single-tab-info">
                  <h2>{{item.name}}</h2>
                  <p>{{item.description}} </p>
                  {% if item.service_detail %}
                  <div class="accordion accordion-flush accordion-lg" id="accordionFAQ">
                    {% for service in item.service_detail %}
                    <!-- Accordion Item -->
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingBasics{{forloop.index}}">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.index}}" aria-expanded="false" aria-controls="collapse{{forloop.index}}">
                          {{service.name}}
                        </a>
                      </div>
                      <div id="collapse{{forloop.index}}" class="accordion-collapse collapse" aria-labelledby="headingBasics{{forloop.index}}" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body d-block">
                          {{service.description}}
                        </div>
                      </div>
                    </div>
                    <!-- End Accordion Item -->
                    {% endfor %}
                  </div>
                  <!-- End Accordion Item -->
                  {% endif %}
                  </div>
              </div>
                <!-- single col end  -->
              <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="intro-tab-img-area">
                  <img src="{{item.image}}" alt="{{item.name}}">
                    <a class="about-hero-btn intro-tab-btn" href="/contact">CONTACT US</a>
                </div>
              </div>
              <!-- single col end  -->
            </div>
          </div>
           <!-- single tab end here  -->
           {% endfor %}
           <div class="tab-pane fade " id="Civil" role="tabpanel" aria-labelledby="Civil-tab">
            <div class="row">
              <div class="col-lg-7">
                <div class="single-tab-info">
                  <h2>Structural Engineering</h2>
                  <p>The complexities of modern residential construction, variability of soils based on site selection, and the demand for higher finished floor elevations due to local ordinances has necessitated engineered solutions for much of the residential construction market.  Southeast Engineers has extensive experience in the design of foundations for highly complex custom homes, and large tract home developments.  We have demonstrated our expertise in the design of over 1,000 successful projects in the Southeast United States, including (but not limited to) the following foundation systems:</p>

                  <div class="accordion accordion-flush accordion-lg" id="accordionFAQ">
                    <!-- Accordion Item -->
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingBasicsOne">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          Shallow Foundation Design
                        </a>
                      </div>
                      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingBasicsOne" data-bs-parent="#accordionFAQ" >
                        <div class="accordion-body">
                          <ul class="list-unstyled">
                            <li>– Timber Piles</li>
                            <li>– Concrete Drilled Shafts and Auger Cast Piles</li>
                            <li>– Precast Concrete Piless</li>
                            <li>– Helical Pile Foundation Systems  </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- End Accordion Item -->
                    <!-- Accordion Item -->
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingBasicsTwo">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Deep Foundation Design
                        </a>
                      </div>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingBasicsTwo" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">
                          <ul class="list-unstyled">
                            <li>– Timber Piles</li>
                            <li>– Concrete Drilled Shafts and Auger Cast Piles</li>
                            <li>– Precast Concrete Piless</li>
                            <li>– Helical Pile Foundation Systems  </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- End Accordion Item -->
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingBasicsThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Elevated Foundation Framing
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <ul class="list-unstyled">
                            <li>– Timber Piles</li>
                            <li>– Concrete Drilled Shafts and Auger Cast Piles</li>
                            <li>– Precast Concrete Piless</li>
                            <li>– Helical Pile Foundation Systems  </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Accordion Item -->
                  </div>
              </div>
                <!-- single col end  -->
              <div class="col-lg-5">
                <div class="intro-tab-img-area">
                  <img src="/assets/images/Residential/2-Residential-Contact-pxl5906-3000px_orig.jpg" alt="res">
                    <a class="about-hero-btn intro-tab-btn" href="#">CONTACT US</a>
                </div>
              </div>
              <!-- single col end  -->
            </div>
          </div>
           <!-- single tab end here -->
           <div class="tab-pane fade " id="Commercial" role="tabpanel" aria-labelledby="Commercial-tab">
            <div class="row">
              <div class="col-lg-7">
                <div class="single-tab-info">
                  <h2>Residential Civil Engineering</h2>
                  <p>The complexities of modern residential construction, variability of soils based on site selection, and the demand for higher finished floor elevations due to local ordinances has necessitated engineered solutions for much of the residential construction market.  Southeast Engineers has extensive experience in the design of foundations for highly complex custom homes, and large tract home developments.  We have demonstrated our expertise in the design of over 1,000 successful projects in the Southeast United States, including (but not limited to) the following foundation systems:</p>

                  <div class="accordion accordion-flush accordion-lg" id="accordionFAQ">
                    <!-- Accordion Item -->
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingBasicsOne">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          Shallow Foundation Design
                        </a>
                      </div>
                      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingBasicsOne" data-bs-parent="#accordionFAQ" >
                        <div class="accordion-body">
                          <ul class="list-unstyled">
                            <li>– Timber Piles</li>
                            <li>– Concrete Drilled Shafts and Auger Cast Piles</li>
                            <li>– Precast Concrete Piless</li>
                            <li>– Helical Pile Foundation Systems  </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- End Accordion Item -->
                    <!-- Accordion Item -->
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingBasicsTwo">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Deep Foundation Design
                        </a>
                      </div>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingBasicsTwo" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">
                          <ul class="list-unstyled">
                            <li>– Timber Piles</li>
                            <li>– Concrete Drilled Shafts and Auger Cast Piles</li>
                            <li>– Precast Concrete Piless</li>
                            <li>– Helical Pile Foundation Systems  </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- End Accordion Item -->
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingBasicsThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Elevated Foundation Framing
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <ul class="list-unstyled">
                            <li>– Timber Piles</li>
                            <li>– Concrete Drilled Shafts and Auger Cast Piles</li>
                            <li>– Precast Concrete Piless</li>
                            <li>– Helical Pile Foundation Systems  </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Accordion Item -->
                  </div>
              </div>
                <!-- single col end  -->
              <div class="col-lg-5">
                <div class="intro-tab-img-area">
                  <img src="/assets/images/Residential/2-Residential-Contact-pxl5906-3000px_orig.jpg" alt="res">
                    <a class="about-hero-btn intro-tab-btn" href="#">CONTACT US</a>
                </div>
              </div>
              <!-- single col end  -->
            </div>
          </div>
          <!-- single tab end here -->
          <div class="tab-pane fade " id="Delegated" role="tabpanel" aria-labelledby="Delegated-tab">
            <div class="row">
              <div class="col-lg-7">
                <div class="single-tab-info">
                  <h2>Floodplain Analysis</h2>
                  <p>The complexities of modern residential construction, variability of soils based on site selection, and the demand for higher finished floor elevations due to local ordinances has necessitated engineered solutions for much of the residential construction market.  Southeast Engineers has extensive experience in the design of foundations for highly complex custom homes, and large tract home developments.  We have demonstrated our expertise in the design of over 1,000 successful projects in the Southeast United States, including (but not limited to) the following foundation systems:</p>

                  <div class="accordion accordion-flush accordion-lg" id="accordionFAQ">
                    <!-- Accordion Item -->
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingBasicsOne">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          Shallow Foundation Design
                        </a>
                      </div>
                      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingBasicsOne" data-bs-parent="#accordionFAQ" >
                        <div class="accordion-body">
                          <ul class="list-unstyled">
                            <li>– Timber Piles</li>
                            <li>– Concrete Drilled Shafts and Auger Cast Piles</li>
                            <li>– Precast Concrete Piless</li>
                            <li>– Helical Pile Foundation Systems  </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- End Accordion Item -->
                    <!-- Accordion Item -->
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingBasicsTwo">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Deep Foundation Design
                        </a>
                      </div>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingBasicsTwo" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">
                          <ul class="list-unstyled">
                            <li>– Timber Piles</li>
                            <li>– Concrete Drilled Shafts and Auger Cast Piles</li>
                            <li>– Precast Concrete Piless</li>
                            <li>– Helical Pile Foundation Systems  </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- End Accordion Item -->
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingBasicsThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Elevated Foundation Framing
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <ul class="list-unstyled">
                            <li>– Timber Piles</li>
                            <li>– Concrete Drilled Shafts and Auger Cast Piles</li>
                            <li>– Precast Concrete Piless</li>
                            <li>– Helical Pile Foundation Systems  </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Accordion Item -->
                  </div>
              </div>
                <!-- single col end  -->
              <div class="col-lg-5">
                <div class="intro-tab-img-area">
                  <img src="/assets/images/Residential/2-Residential-Contact-pxl5906-3000px_orig.jpg" alt="res">
                    <a class="about-hero-btn intro-tab-btn" href="#">CONTACT US</a>
                </div>
              </div>
              <!-- single col end  -->
            </div>
          </div>
          <!-- single tab end here -->
          <div class="tab-pane fade " id="Drainage" role="tabpanel" aria-labelledby="Drainage-tab">
            <div class="row">
              <div class="col-lg-7">
                <div class="single-tab-info">
                  <h2>Subdivision Development</h2>
                  <p>The complexities of modern residential construction, variability of soils based on site selection, and the demand for higher finished floor elevations due to local ordinances has necessitated engineered solutions for much of the residential construction market.  Southeast Engineers has extensive experience in the design of foundations for highly complex custom homes, and large tract home developments.  We have demonstrated our expertise in the design of over 1,000 successful projects in the Southeast United States, including (but not limited to) the following foundation systems:</p>

                  <div class="accordion accordion-flush accordion-lg" id="accordionFAQ">
                    <!-- Accordion Item -->
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingBasicsOne">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          Shallow Foundation Design
                        </a>
                      </div>
                      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingBasicsOne" data-bs-parent="#accordionFAQ" >
                        <div class="accordion-body">
                          <ul class="list-unstyled">
                            <li>– Timber Piles</li>
                            <li>– Concrete Drilled Shafts and Auger Cast Piles</li>
                            <li>– Precast Concrete Piless</li>
                            <li>– Helical Pile Foundation Systems  </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- End Accordion Item -->
                    <!-- Accordion Item -->
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingBasicsTwo">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Deep Foundation Design
                        </a>
                      </div>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingBasicsTwo" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">
                          <ul class="list-unstyled">
                            <li>– Timber Piles</li>
                            <li>– Concrete Drilled Shafts and Auger Cast Piles</li>
                            <li>– Precast Concrete Piless</li>
                            <li>– Helical Pile Foundation Systems  </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- End Accordion Item -->
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingBasicsThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Elevated Foundation Framing
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <ul class="list-unstyled">
                            <li>– Timber Piles</li>
                            <li>– Concrete Drilled Shafts and Auger Cast Piles</li>
                            <li>– Precast Concrete Piless</li>
                            <li>– Helical Pile Foundation Systems  </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Accordion Item -->
                  </div>
              </div>
                <!-- single col end  -->
              <div class="col-lg-5">
                <div class="intro-tab-img-area">
                  <img src="/assets/images/Residential/2-Residential-Contact-pxl5906-3000px_orig.jpg" alt="res">
                    <a class="about-hero-btn intro-tab-btn" href="#">CONTACT US</a>
                </div>
              </div>
              <!-- single col end  -->
            </div>
          </div>
          <!-- single tab end here -->
          <div class="tab-pane fade " id="Municipal" role="tabpanel" aria-labelledby="Municipal-tab">
            <div class="row">
              <div class="col-lg-7">
                <div class="single-tab-info">
                  <h2>Subdivision Development</h2>
                  <p>The complexities of modern residential construction, variability of soils based on site selection, and the demand for higher finished floor elevations due to local ordinances has necessitated engineered solutions for much of the residential construction market.  Southeast Engineers has extensive experience in the design of foundations for highly complex custom homes, and large tract home developments.  We have demonstrated our expertise in the design of over 1,000 successful projects in the Southeast United States, including (but not limited to) the following foundation systems:</p>

                  <div class="accordion accordion-flush accordion-lg" id="accordionFAQ">
                    <!-- Accordion Item -->
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingBasicsOne">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          Shallow Foundation Design
                        </a>
                      </div>
                      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingBasicsOne" data-bs-parent="#accordionFAQ" >
                        <div class="accordion-body">
                          <ul class="list-unstyled">
                            <li>– Timber Piles</li>
                            <li>– Concrete Drilled Shafts and Auger Cast Piles</li>
                            <li>– Precast Concrete Piless</li>
                            <li>– Helical Pile Foundation Systems  </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- End Accordion Item -->
                    <!-- Accordion Item -->
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingBasicsTwo">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Deep Foundation Design
                        </a>
                      </div>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingBasicsTwo" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">
                          <ul class="list-unstyled">
                            <li>– Timber Piles</li>
                            <li>– Concrete Drilled Shafts and Auger Cast Piles</li>
                            <li>– Precast Concrete Piless</li>
                            <li>– Helical Pile Foundation Systems  </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- End Accordion Item -->
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingBasicsThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Elevated Foundation Framing
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <ul class="list-unstyled">
                            <li>– Timber Piles</li>
                            <li>– Concrete Drilled Shafts and Auger Cast Piles</li>
                            <li>– Precast Concrete Piless</li>
                            <li>– Helical Pile Foundation Systems  </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Accordion Item -->
                  </div>
              </div>
                <!-- single col end  -->
              <div class="col-lg-5">
                <div class="intro-tab-img-area">
                  <img src="/assets/images/Residential/2-Residential-Contact-pxl5906-3000px_orig.jpg" alt="res">
                    <a class="about-hero-btn intro-tab-btn" href="#">CONTACT US</a>
                </div>
              </div>
              <!-- single col end  -->
            </div>
          </div>
          <!-- single tab end here -->
        </div>
      </div>
    </div>
  </div>
</div>




