---
layout: services
page_title: Surveying Services
title: Surveying Services - Southeast Engineers
description: >
  With a combined 70 plus years of experience, Southeast Engineers has become a
  market leader in a wide range of engineering services.
pages_header_image: >-
  /assets/images/Residential/new_photo_SE.png
contact_image: /assets/images/Residential/2-Residential-Contact-pxl5906-3000px_orig.jpg
header_style_two: true
subtitle:
  subtitle_descr: >-
    Discover the Southeast Engineers advantage—where precision meets
    expertise. As industry leaders in Civil, Structural, and Aquatics Engineering,
    we provide top-tier land surveying services designed to streamline your
    projects and maximize accuracy.
  subtitle_descr: >-
    Whether you’re in real estate, construction, oil and gas, or land
    development, our team delivers the reliable data and insights you need to
    make confident decisions. Explore our specialized services below and see
    how we can help bring your vision to life with accuracy, efficiency, and
    unmatched expertise.
slider_section:
  title: Surveying
  list:
    - slider_item:
        - img_url: /assets/images/Residential/slider/01.jpg
        - img_url: /assets/images/Residential/slider/02.png
        - img_url: >-
            /assets/images/Residential/1-Residential-Hero-IMG_1800.jpg
    - slider_item:
        - img_url: /assets/images/Residential/slider/03.png
        - img_url: /assets/images/Residential/slider/02.png
        - img_url: /assets/images/Residential/slider/01.jpg
    - slider_item:
        - img_url: /assets/images/Residential/slider/02.png
        - img_url: /assets/images/Residential/slider/03.png
        - img_url: /assets/images/Residential/slider/01.jpg
services:
  - name: Title Surveys
    image: >-
      https://res.cloudinary.com/dhrcud0tp/Burning
      Stick/south-eastern-engineers/images/Residential/owzbugbpzoe4renmbrxw.jpg
    description: >-
      Title surveys are essential for real estate transactions, providing a
      detailed description and mapping of tile/property boundaries. This involves a
      careful investigation of elements which may affect said boundaries, i.e., rights
      of way, easements, servitudes, and encroachments. At Southeast Engineers, our experienced
      team conducts meticulous title surveys, delivering accurate documentation that can help
      protect your real estate investments.
  - name: Possession Surveys
    image: >-
      https://res.cloudinary.com/dhrcud0tp/Burning
      Stick/south-eastern-engineers/images/Residential/gfvqpap720vct65ogajy.jpg
    description: >-
      Possession surveys identify the existent boundaries and physical
      occupation of a property within visible, physical bounds or enclosures.
      This service helps illustrate how the land has been occupied and/or
      possessed historically. We apply advanced surveying techniques to
      provide accurate possession surveys, offering peace of mind
      to property owners and stakeholders.
  - name: Riparian Boundaries
    image: >-
      https://res.cloudinary.com/dhrcud0tp/Burning
      Stick/south-eastern-engineers/images/Residential/gfvqpap720vct65ogajy.jpg
    description: >-
      Riparian boundary surveys determine property lines bordering
      bodies of water, like rivers, lakes, bayous, or streams. These surveys
      are vital for establishing water rights, managing development,
      conservation efforts, and resolving boundary disputes. Our expertise
      in specialized boundary surveys ensures accurate property line mapping,
      providing essential data for responsible land and water resource management.
  - name: Water Bottom Studies
    image: >-
      https://res.cloudinary.com/dhrcud0tp/Burning
      Stick/south-eastern-engineers/images/Residential/gfvqpap720vct65ogajy.jpg
    description: >-
      Water bottom studies capture detailed, physical topographical
      data to identify historical ordinary low water elevations dating back to
      Louisiana's statehood in 1812. These studies play a key role in
      determining ownership rights to the minerals beneath the water body or bed.
  - name: Construction Staking
    image: >-
      https://res.cloudinary.com/dhrcud0tp/Burning
      Stick/south-eastern-engineers/images/Residential/gfvqpap720vct65ogajy.jpg
    description: >-
      Construction staking translates architectural and engineering
      designs into physical markers on a construction site, guiding
      contractors during the building process. Accurate staking helps ensure
      structures are built according to plan, within legal boundaries, and at
      the correct elevations. Southeast Engineers offers precise construction
      staking services, helping clients facilitate efficient and error-free
      construction projects.
  - name: Elevation Certificates
    image: >-
      https://res.cloudinary.com/dhrcud0tp/Burning
      Stick/south-eastern-engineers/images/Residential/gfvqpap720vct65ogajy.jpg
    description: >-
      Elevation certificates provide information about a property's
      elevation relative to the base flood elevation, as determined by the
      National Flood Insurance Program. These certificates are necessary for
      flood insurance purposes and compliance with local floodplain
      management regulations.
    description2: >-
      Our team at Southeast Engineers delivers accurate elevation
      certificates, assisting property owners in obtaining appropriate
      insurance coverage while maintaining regulatory compliance.
  - name: Pre-Slab Surveys / Building Form Surveys
    image: >-
      https://res.cloudinary.com/dhrcud0tp/Burning
      Stick/south-eastern-engineers/images/Residential/gfvqpap720vct65ogajy.jpg
    description: >-
      Pre-slab or building form surveys are conducted before pouring
      concrete slabs to verify that the building's foundation is positioned
      correctly on the site. These surveys ensure compliance with design
      plans, zoning laws, setback requirements, and other regulations.
      Southeast Engineers provides thorough pre-slab surveys, helping to
      prevent costly errors and ensuring a solid foundation for a wide range
      of construction projects.
  - name: ALTA / NSPS Land Title Surveys
    image: >-
      https://res.cloudinary.com/dhrcud0tp/Burning
      Stick/south-eastern-engineers/images/Residential/gfvqpap720vct65ogajy.jpg
    description: >-
      ALTA/NSPS land title surveys are comprehensive surveys that
      meet the standards set by the American Land Title Association and the
      National Society of Professional Surveyors. Our detailed surveys
      identify property boundaries, easements, encroachments, and other
      critical land features to help buyers, lenders, and developers make
      well-informed decisions.
    description2: >-
      By adhering to rigorous industry standards, we deliver the
      precise documentation needed for smooth property transfers, risk
      mitigation, and compliance with legal and financial requirements.
  - name: Staking Proposed Well Locations & Preparation of Permit Plats
    image: >-
      https://res.cloudinary.com/dhrcud0tp/Burning
      Stick/south-eastern-engineers/images/Residential/gfvqpap720vct65ogajy.jpg
    description: >-
      Accurate staking of proposed well locations and preparation of
      permit plats are critical steps in the oil and gas industry. These services
      ensure that drilling sites are correctly positioned and comply with all
      local, state, and federal regulatory requirements. Southeast Engineers
      offers expert staking and permit plat preparation for efficient and
      compliant resource extraction operations.
  - name: Location of P & A Wells
    image: >-
      https://res.cloudinary.com/dhrcud0tp/Burning
      Stick/south-eastern-engineers/images/Residential/gfvqpap720vct65ogajy.jpg
    description: >-
      Plugged and abandoned (P&A) wells must be accurately mapped
      for environmental safety, land development, and regulatory
      requirements. At Southeast Engineers, we use advanced surveying
      technology to accurately identify and document P&A well locations.
      Our detailed data helps developers, landowners, and regulatory
      agencies prevent potential hazards and ensure compliance. With our
      expertise, clients can confidently plan land use while prioritizing safety
      and sustainability.
  - name: Lease Site Surveys
    image: >-
      https://res.cloudinary.com/dhrcud0tp/Burning
      Stick/south-eastern-engineers/images/Residential/gfvqpap720vct65ogajy.jpg
    description: >-
      Lease site surveys define the boundaries and features of land
      designated for leasing, particularly in industries like oil, gas, and
      agriculture. These surveys provide critical information for lease
      agreements, ensuring all parties have a clear understanding of the
      leased area's extent and characteristics. Southeast Engineers provides
      clients with precise lease site surveys for the most transparent and
      equitable leasing arrangements.
  - name: Pipeline Surveys / Right-of-Way Plats / Alignment Sheets
    image: >-
      https://res.cloudinary.com/dhrcud0tp/Burning
      Stick/south-eastern-engineers/images/Residential/gfvqpap720vct65ogajy.jpg
    description: >-
      Pipeline surveys, right-of-way plats, and alignment sheets play a
      crucial role in the planning, construction, and maintenance of pipeline
      infrastructure. These services accurately map proposed pipeline
      routes, define which properties will be crossed, and ensure compliance
      with regulatory requirements.
    description2: >-
      At Southeast Engineers, we deliver precise and comprehensive
      pipeline surveying solutions, helping clients navigate complex land use
      challenges while prioritizing safety and efficiency. Our expertise
      supports the seamless transport of resources, minimizes risks, and
      ensures projects meet industry standards from beginning to end.
  - name: Mineral Lease Boundary Surveys
    image: >-
      https://res.cloudinary.com/dhrcud0tp/Burning
      Stick/south-eastern-engineers/images/Residential/gfvqpap720vct65ogajy.jpg
    description: >-
      Mineral lease boundary surveys define the exact limits of land
      designated for exploration and resource extraction. Accurate boundary
      mapping helps avoid disputes, optimize resource management, and
      maintain regulatory requirements.
    description2: >-
      At Southeast Engineers, our skilled surveyors provide detailed
      and accurate mineral lease boundary surveys, giving clients the
      confidence to develop their assets efficiently and responsibly. With our
      expertise, you can maximize resource potential while ensuring
      seamless adherence to industry regulations.
  - name: Well Unitization Surveys of Order Issued by the Office of Conservation
    image: >-
      https://res.cloudinary.com/dhrcud0tp/Burning
      Stick/south-eastern-engineers/images/Residential/gfvqpap720vct65ogajy.jpg
    description: >-
      Unitization surveys are performed to outline the boundaries of a
      mineral unit, a defined area of land containing a shared oil or gas
      reservoir that is used to determine the ownership percentage of each
      mineral rights holder within that unit. These surveys accurately map
      subsurface property lines to ensure fair distribution of mineral
      ownership percentages among rights holders within the unit.
  - name: Drill Site Area Surveys
    image: >-
      https://res.cloudinary.com/dhrcud0tp/Burning
      Stick/south-eastern-engineers/images/Residential/gfvqpap720vct65ogajy.jpg
    description: >-
      Drill site area surveys assess and map the specific locations
      designated for drilling operations, providing detailed information on
      topography, access routes, and environmental considerations. At
      Southeast Engineers, we deliver accurate and comprehensive drill site
      surveys, equipping clients with the data needed for safe and successful
      drilling operations. Our expertise helps simplify project execution while
      supporting responsible land use and environmental stewardship.
  - name: Preparation of Corps of Engineers Drawings
    image: >-
      https://res.cloudinary.com/dhrcud0tp/Burning
      Stick/south-eastern-engineers/images/Residential/gfvqpap720vct65ogajy.jpg
    description: >-
      Creating drawings for the U.S. Army Corps of Engineers requires
      meticulous planning and adherence to strict federal standards,
      particularly for projects impacting navigable waters and wetlands.
      These detailed plans are essential for obtaining permits, ensuring
      compliance, and supporting successful project execution. At Southeast
      Engineers, we produce accurate, high-quality drawings for the U.S.
      Army Corps of Engineers that keep projects on track. Our expertise
      helps clients navigate complex regulatory requirements with
      confidence.
permalink: /service-surveying
---

<!-- our Residential  section start here  -->
<div class="residential-slider-section">
  {% assign slider = page.slider_section %}
  <div class="container">
    <div class="residential-heder">
      {% if slider.title %}
       <h2>{{ slider.title }}</h2>
      {% endif %}
    </div>
    <div>
      {% for item in page.subtitle %}
      <p>{{item.subtitle_descr}}</p>
      {% endfor %}
    </div>
    <!-- Swiper -->
    {% comment %}
    <div class="swiper res-slider">
      <div class="swiper-wrapper">
        {% for slider_item in slider.list %}
        <div class="swiper-slide">
          <div class="row px-0">
            {% for slider_data in slider_item.slider_item %}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-2">
              <img class="res-single-img" src="{{ slider_data.img_url }}" alt="" />
            </div>
            {% endfor %}

          </div>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      {% comment %}<div class="swiper-pagination"></div> {% endcomment %}
    </div>
    {% endcomment %}
    <!-- swiper end  -->
    <!-- End Swiper -->
  </div>
</div>

<!-- residential foundation area start here  -->
<div class="residential-tab-area">
  <div class="container" id="servicetab">
    <div class="row residential-tab">
      <div class="ul-product-area">
        <div class="col-lg-6 me-auto">
          <!-- Select -->
          <div class="tom-select-custom mb-5 d-flex align-items-center border-bottom border-black">
            <small class="text-primary">Types</small>
            <select id="serviceSelect" class="js-select form-select custom-select bg-transparent text-primary w-75 flex-grow-1 border-0" autocomplete="off"
                  data-hs-tom-select-options='{
                    "placeholder": "Select a Survey Type",
                    "hideSearch": true
                  }'>
              <option value="">Select a Survey Type</option>
              {% for item in page.services %}
              <option value="{{ item.name | truncatewords: 1 | remove: "..." }}">{{ item.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-lg-12">
          <!-- End Select -->
          <!-- single tab start here -->
          <div class="tab-content" id="serviceContent">
            {% for item in page.services %}
            <div class="tab-pane fade {% if forloop.first %}active show{% endif %}" id="{{ item.name | truncatewords: 1 | remove: "..." }}" role="tabpanel">
              <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12">
                  <div class="single-tab-info">
                    <h2>{{ item.name }}</h2>
                    <p class="mb-5">{{ item.description }}</p>
                    {% if item.description2 %}<p>{{ item.description2 }}</p>{% endif %}
                    {% if item.service_detail %}
                    <div class="accordion accordion-flush accordion-lg" id="accordionFAQ{{ item.name | truncatewords: 1 | remove: "..." }}">
                      {% for service in item.service_detail %}
                      <div class="accordion-item">
                        <div class="accordion-header" id="{{ item.name | truncatewords: 1 | remove: "..." }}{{ forloop.index }}">
                          <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ item.name | truncatewords: 1 | remove: "..." }}{{ forloop.index }}" aria-expanded="false" aria-controls="collapse{{ item.name | truncatewords: 1 | remove: "..." }}{{ forloop.index }}">
                            {{ service.name }}
                          </a>
                        </div>
                        <div id="collapse{{ item.name | truncatewords: 1 | remove: "..." }}{{ forloop.index }}" class="accordion-collapse collapse" aria-labelledby="{{ item.name | truncatewords: 1 | remove: "..." }}{{ forloop.index }}" data-bs-parent="#accordionFAQ{{ item.name | truncatewords: 1 | remove: "..." }}">
                          <div class="accordion-body d-block text-start">
                            {{ service.description }}
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12">
                  <div class="intro-tab-img-area pt-md-5 pt-lg-3">
                    <img src="{{ item.image }}" alt="{{ item.name }}" />
                    <a class="about-hero-btn intro-tab-btn" href="/contact">CONTACT US</a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const serviceSelect = document.getElementById("serviceSelect");
    const serviceContent = document.getElementById("serviceContent");

    if (!serviceSelect || !serviceContent) return; // Ensure elements exist before proceeding

    const serviceTabs = Array.from(serviceContent.children);
    const defaultTabId = serviceTabs.length > 0 ? serviceTabs[0].id : "";

    serviceSelect.addEventListener("change", function () {
      let selectedValue = this.value.trim();

      if (selectedValue === "") {
        selectedValue = defaultTabId; // Set default tab when no selection is made
      }

      serviceTabs.forEach(tab => {
        if (tab.id === selectedValue) {
          tab.classList.add("active", "show");
        } else {
          tab.classList.remove("active", "show");
        }
      });
    });
  });
</script>
