---
layout: services
page_title: Commercial Services
title: Commercial Services - Southeast Engineers
description: >
  With a combined 70 plus years of experience, Southeast Engineers has become a
  market leader in a wide range of engineering services.
pages_header_image: /assets/images/6f607d05-b818-4455-b89a-67b0c89a9b0d-2000x1124.jpg
contact_image: /assets/images/Residential/2-Residential-Contact-pxl5906-3000px_orig.jpg
header_style_two: true
slider_section:
  title: Our Commercial Work
  list:
    - slider_item:
        - img_url: >-
            /image/upload/v1717192757/Burning%20Stick/south-eastern-engineers/images/qpl70pdoml3iiewfg0xp.png
        - img_url: >-
            /image/upload/v1717192724/Burning%20Stick/south-eastern-engineers/images/ecc6iq6yvhkh0hkztaul.jpg
        - img_url: >-
            https://res.cloudinary.com/dhrcud0tp/image/upload/v1717191799/Burning%20Stick/south-eastern-engineers/images/qqthglyml2mhwgwgfcyj.jpg
    - slider_item:
        - img_url: /assets/images/Residential/slider/03.png
        - img_url: /assets/images/Residential/slider/02.png
        - img_url: /assets/images/Residential/slider/01.jpg
    - slider_item:
        - img_url: /assets/images/Residential/slider/02.png
        - img_url: /assets/images/Residential/slider/03.png
        - img_url: /assets/images/Residential/slider/01.jpg
services:
  - name: Aquatics Engineering
    image: >-
      https://res.cloudinary.com/dhrcud0tp/Burning
      Stick/south-eastern-engineers/images/wmfacch0f9fgblua0erc.png
    description: >-
      At Southeast Engineers, our commitment to excellence shines through in our
      meticulously engineered designs for Commercial Aquatic Venues. Over the
      years, we've consistently upheld a high standard, guiding projects from
      conception to completion. The construction of commercial aquatic
      facilities demands precision in developing construction drawings,
      equipment submittals, and obtaining approvals from the governing Health
      Department within the specific project region. Leveraging the latest
      technology and adhering to applicable codes, our firm has successfully
      excelled in the planning, design, and construction administration of
      diverse
    service_detail:
      - name: Commercial Swimming Pool Design
        description: >-
          <p>Our two-stage Commercial Swimming Pool design process begins with a
          Professional Landscape Architect, Architect, or Designer crafting the
          geometric and depth profile, alongside specifying their desired water
          features. Following this, a fully engineered design is crafted to
          secure Health Department approval and facilitate the distribution of
          construction documents to contractors. Southeast Engineers' designs
          encompass essential components:</p>

          <ul> <li> Detailed Equipment Schedules and Specifications </li> <li>
          Site Layout ensuring Code Compliance and coordination with Landscape
          Architect/Civil Engineer</li> <li> Hydraulic Analysis and Plumbing
          Design</li> <li> Swimming Pool Construction Details</li>
          <li>Structural Design of Shotcrete, Gunite, or Reinforced Concrete
          Swimming Pool</li> <li> Equipment Room Layout with coordination among
          Mechanical, Electrical, and Plumbing Consultants</li> <li>
          Coordination with Regulatory Agencies for Permit Approval</li> </ul>
      - name: Commercial Splash Pad Design
        description: >-
          Complementing our expertise in Commercial Swimming Pool Designs,
          Southeast Engineers offers comprehensive engineering design services
          for recirculation and flow-through Splash Pads. Given the increasing
          complexity in obtaining Commercial Splash Pad Permits following the
          Center for Disease Control’s Model Aquatic Health Code (MAHC), our
          firm excels in navigating these challenges. Splash Pads, known for
          their stringent sanitization, monitoring, and safety measures as per
          MAHC requirements, are handled by our team. Our packages, akin to
          Commercial Swimming Pool Designs, are tailored specifically for splash
          pads, ensuring successful planning, design, permitting, and
          construction, all while keeping the project within the established
          budget.
      - name: Waterpark Aquatic Attractions
        description: >-
          For pre-designed waterpark attractions, Southeast Engineers steps in
          to coordinate supplemental equipment needs, such as recirculation
          systems and sanitizers, often not provided by manufacturers.
          Navigating the complex and time-consuming processes of construction
          management and Health Department approval, we collaborate seamlessly
          with various consultants and ride manufacturers. Our services extend
          to the development of accurate construction documents for bidding
          purposes, ensuring a streamlined and successful project delivery.
  - name: Civil Engineering
    image: >-
      https://res.cloudinary.com/dhrcud0tp/Burning
      Stick/south-eastern-engineers/images/waj3zxlm9x1kj0jlwwxd.jpg
    description: >-
      At Southeast Engineers, we specialize in civil engineering solutions for
      commercial site development. Our services encompass site design,
      stormwater management, public infrastructure design, and low impact
      development (LID) practices to meet regulatory standards and
      sustainability objectives.

       Services Offered:
      <ul> <li>
        <b>Commercial Site Design</b>
      Optimized land use for functional, accessible commercial spaces through
      tailored site design. </li> <li> <b>Drainage and Water Quality Impact
      Studies</b> Comprehensive studies to mitigate environmental impacts,
      focusing on stormwater runoff and water quality. </li> <li> <b>Storm Water
      Pollution Prevention Plans (SWPPP)</b> Development of SWPPP to reduce
      erosion and water contamination, ensuring compliance with NPDES permits.
      </li> <li> <b>Public Infrastructure Design</b> Designing necessary public
      infrastructure, including roads and utilities, for seamless local system
      integration. </li> <li> <b>Low Impact Development Design</b> Incorporating
      LID strategies to manage stormwater at its source, reduce runoff, and
      enhance natural filtration, aligning projects with sustainable and green
      building practices. </li> Southeast Engineers is committed to delivering
      high-quality engineering solutions for commercial projects, including
      innovative LID practices for environmental sustainability. Contact us to
      see how we can support your development needs.
  - name: Commercial Structural Engineering
    image: >-
      https://res.cloudinary.com/dhrcud0tp/Burning
      Stick/south-eastern-engineers/images/tf72gqudhnoikbn9bqjr.jpg
    description: >-
      At Southeast Engineers, our Structural Engineering expertise is extensive
      and detailed, fostering effective partnerships with Architects,
      Developers, and Contractors. Our rich experience allows us to offer
      customized, comprehensive design services that cater to the specific
      requirements of each project. Our team is proficient across a wide range
      of structural systems, ensuring innovative and robust solutions
  - name: Delegated Systems Design
    image: >-
      https://res.cloudinary.com/dhrcud0tp/Burning
      Stick/south-eastern-engineers/images/sij1hm8gmd9nbgvx6n7a.jpg
    description: >-
      Complexities within the current building design and delivery systems have
      shifted the design of certain structural components away from the Design
      Team, and to the Contractor.  In these instances, the Contractor must
      obtain the services of a qualified, licensed professional engineer to
      furnish the design of these components. Southeast Engineers' experience
      with a broad range of construction materials and building systems qualify
      us to deliver designs for both primary and secondary structural elements,
      including (but not limited to) the below:
        <ul>
          <li>Cold Formed Metal Framing Systems
            <ul>
              <li>Curtainwall Framing</li>
              <li>Load Bearing Framing</li>
            </ul>
          </li>
      <li>Soffit, Roof, and Wall Panel Assemblies </li> <li>Specialty Foundation
      Systems
        <ul>
          <li> Helical Pile</li>
          <li>Post-Tensioned Concrete</li>
          <li>Sheet Pile & Bulkhead</li>
        </ul>
      </li> <li>Specialty Structures
        <ul>
          <li>Billboards & Signage</li>
          <li> Equipment Platforms and Non-Building Structures</li>
          <li>Sculptures</li>
        </ul>
        </li>
        </ul>
  - name: Hydrologic and Hydraulic Modeling
    image: >-
      https://res.cloudinary.com/dhrcud0tp/Burning
      Stick/south-eastern-engineers/images/hlnjlj1ydpa9wpsvvjoi.png
    description: >-
      At Southeast Engineers, our commitment to excellence shines through in our
      meticulously engineered designs for Commercial Aquatic Venues. Over the
      years, we've consistently upheld a high standard, guiding projects from
      conception to completion. The construction of commercial aquatic
      facilities demands precision in developing construction drawings,
      equipment submittals, and obtaining approvals from the governing Health
      Department within the specific project region. Leveraging the latest
      technology and adhering to applicable codes, our firm has successfully
      excelled in the planning, design, and construction administration of
      diverse
  - name: Municipal Infrastructure
    image: >-
      https://res.cloudinary.com/dhrcud0tp/Burning
      Stick/south-eastern-engineers/images/kqoqlfzsgb6wkisaowxi.jpg
    description: >-
      Southeast Engineers specializes in comprehensive municipal infrastructure
      design, emphasizing urban resilience and operational efficiency. Our
      services are engineered to address the evolving needs of cities, improving
      the standard of living for communities. Southeast Engineers is committed
      to delivering high-quality, sustainable solutions for municipal
      infrastructure challenges. Our team of experts is equipped to build
      resilient and vibrant communities through strategic urban development.
    service_detail:
      - name: Urban Drainage Design
        description: >-
          Our urban drainage systems utilize advanced modeling to manage
          stormwater effectively, mitigate flooding risks, and protect the
          environment, all while ensuring cost-effectiveness and sustainability.
      - name: Urban Drainage Design
        description: >-
          Our urban drainage systems utilize advanced modeling to manage
          stormwater effectively, mitigate flooding risks, and protect the
          environment, all while ensuring cost-effectiveness and sustainability.
      - name: Floodplain Modeling
        description: >-
          We use state-of-the-art software for floodplain modeling to evaluate
          flood risks, guiding land use, and flood defense planning to protect
          communities.
      - name: Regional Detention
        description: >-
          Our regional detention strategies control urban runoff and mitigate
          flood risks, improving water quality and supporting urban
          biodiversity.
      - name: Water Supply and Distribution
        description: >-
          We design water supply and distribution networks to ensure sustainable
          access to clean water.
      - name: Sanitary Sewer Collection and Pump Stations and Force Main Routing
        description: >-
          We manage the design of crucial yet often overlooked aspects of public
          sewer infrastructure, including the design of pump stations and force
          main routing. Our focus is on developing efficient and reliable
          systems for wastewater collection and transport.
      - name: Roadway Design and Rehabilitation
        description: >-
          Our roadway design and rehabilitation services focus on safety,
          functionality, and minimal environmental impact, catering to both
          current and future community needs.
      - name: Intersection Improvement - Roundabouts and Turn Lanes
        description: >-
          We enhance intersection safety and efficiency with the design of
          roundabouts and turn lanes, improving traffic flow and reducing
          congestion, with an inclusive approach for all users.
permalink: /service-commercial
---
<script>
document.addEventListener("DOMContentLoaded", function() {
  const params = new URLSearchParams(window.location.search);
  const tabId = params.get('tab');
  const sectionId = params.get('section');

  if (tabId) {
    // Activate the tab
    const tabTriggerEl = document.querySelector(`#${tabId}-tab`);
    if (tabTriggerEl) {
      new bootstrap.Tab(tabTriggerEl).show();
    }
  }

  if (sectionId) {
    // Scroll to the section
    const sectionEl = document.getElementById(sectionId);
    if (sectionEl) {
      sectionEl.scrollIntoView();
    }
  }
});
</script>
<!-- our commercial  section start here  -->
<div class="residential-slider-section">
  {% assign slider = page.slider_section %}
  <div class="container">
    <div class="residential-heder">
      {% if slider.title %}
       <h2>{{ slider.title }}</h2>
      {% endif %}
    </div>
    <!-- Swiper -->
    <div class="swiper res-slider">
      <div class="swiper-wrapper">
        {% for slider_item in slider.list %}
        <div class="swiper-slide">
          <div class="row">
            {% for slider_data in slider_item.slider_item %}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-2">
              <img class="res-single-img" src="{{ slider_data.img_url }}" alt="" />
            </div>
            {% endfor %}

          </div>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
    <!-- swiper end  -->
    <!-- End Swiper -->
  </div>
</div>
<!-- residential foundation area start here  -->
<div class="residential-tab-area">
  <div class="container" id="servicetab">
    <div class="row residential-tab">
      <div class="ul-product-area">
        <div class="col-lg-12">
          <!-- Navbar Vertical -->
          <div class="navbar navbar-vertical navbar-expand-md">
            <!-- Navbar Toggle -->
            <div class="d-grid flex-grow-1">
              <button type="button" class="navbar-toggler border-0 shadow-0 rounded-0 border-bottom" data-bs-toggle="collapse" data-bs-target="#navbarTogglerNavMenu" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarTogglerNavMenu">
                <span class="d-flex justify-content-between align-items-center">
                  <span class="editable">Commercial Services</span>

                  <span class="navbar-toggler-default">
                    <i class="bi-chevron-down"></i>
                  </span>
                  <span class="navbar-toggler-toggled">
                    <i class="bi-x"></i>
                  </span>
                </span>
              </button>
            </div>
            <!-- End Navbar Toggle -->
            <div id="navbarTogglerNavMenu" class="collapse navbar-collapse">
              <!-- Navbar -->
              <ul class="nav p-md-0 p-2 justify-content-start" id="myTab" role="tablist">
                {% for item in page.services %}
               <li class="nav-item mx-2" role="presentation">
                 <a class="{% if forloop.first %}active{% endif %} nav-link fw-bold text-gray fs-5" id="{{item.name | truncatewords: 1 | remove: "..."}}-tab" data-bs-toggle="tab" data-bs-target="#{{item.name | truncatewords: 1 | remove: "..."}}" role="tab" aria-controls="{{item.name | truncatewords: 1 | remove: "..."}}" aria-selected="true">{{item.name}}</a>
               </li>
               {% endfor %}
              </ul>
              <!-- End Navbar -->
            </div>
          </div>
          <hr />
          <!-- single tab start here   -->
        <div class="tab-content" id="myTabContent">
          {% for item in page.services %}
          <div class="tab-pane fade {% if forloop.first %}active show{% endif %}" id="{{item.name | truncatewords: 1 | remove: "..."}}" role="tabpanel" aria-labelledby="{{item.name | truncatewords: 1 | remove: "..."}}-tab">
            <div class="row">
              <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="single-tab-info">
                  <h2>{{item.name}}</h2>
                  <p class="mb-5">{{item.description}} </p>
                  {% if item.service_detail %}
                  <div class="accordion accordion-flush accordion-lg" id="accordionFAQ">
                    {% for service in item.service_detail %}
                    <!-- Accordion Item -->
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingBasics{{forloop.index}}">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.index}}" aria-expanded="false" aria-controls="collapse{{forloop.index}}">
                          {{service.name}}
                        </a>
                      </div>
                      <div id="collapse{{forloop.index}}" class="accordion-collapse collapse" aria-labelledby="headingBasics{{forloop.index}}" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body d-block text-start">
                          {{service.description}}
                        </div>
                      </div>
                    </div>
                    <!-- End Accordion Item -->
                    {% endfor %}
                  </div>
                  <!-- End Accordion Item -->
                  {% endif %}
                  </div>
              </div>
                <!-- single col end  -->
              <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="intro-tab-img-area">
                  <img src="{{item.image}}" alt="{{item.name}}" />
                    <a class="about-hero-btn intro-tab-btn" href="/contact">CONTACT US</a>
                </div>
              </div>
              <!-- single col end  -->
            </div>
          </div>
           <!-- single tab end here  -->
           {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>




</div>