<!-- our se contact section start here  -->
<div class="section-contact-area pt-lg-8 pt-5">
    <div class="container-fluid px-lg-10 px-0">
      <div class="row px-lg-10 px-6 justify-content-center">
        <div class="col-lg-5 col-md-6 col-sm-12">
          <div class="section-contact-info">
            <h2 class="editable mb-3">Contact Us</h2>
            <ul class="contact-top-list editable">
              <li><a href="/services">Residential and Commercial Engineering</a></li>
            </ul>
            <ul class="contact-top-list editable">
              <li><a href="/service-commercial?tab=Commercial&section=servicetab">Structural Engineering</a></li>
              <li><a href="/service-commercial?tab=Civil&section=servicetab">Civil Engineering</a></li>
              <li><a href="/service-commercial?tab=Aquatics&section=servicetab">Aquatics Engineering</a></li>
            </ul>
            {% if page.contact_image %}
              <img src="{{page.contact_image}}" class="object-cover" alt="contact">
            {% else %}
            <img src="/assets/images/contact_01.webp" class="object-cover" alt="contact">
            {% endif %}
          </div>
        </div>
        <!-- contact info area end here  -->
        <div class="col-lg-5 col-md-6 col-sm-12">
          <div class="section-contact-form">
            <p class="text-gray robo-condensed mt-4 mb-0 pe-2 fw-normal text-end">*REQUIRED</p>
            <div class="pt-4">
              <div class="card-body">
                <!-- Heading -->
                <form id="contactform" action="https://formspree.io/f/xwpepwrv" method="POST">
                  <div class="row gx-3">
                    <div class="col-12">
                      <!-- Form -->
                      <div class="mb-3">
                        <input type="text" class="form-control form-control-lg" name="First Name" id="First Name" placeholder="First name" aria-label="First name" required>
                      </div>
                      <!-- End Form -->
                    </div>
                    <!-- End Col -->
                    <div class="col-12">
                      <!-- Form -->
                      <div class="mb-3">
                        <input type="text" class="form-control form-control-lg" name="Last Name" id="Last Name" placeholder="Last name" aria-label="Last name" required>
                      </div>
                      <!-- End Form -->
                    </div>
                    <!-- End Col -->
                  </div>
                  <div class="col-12">
                    <!-- Form -->
                    <div class="mb-3">
                      <input type="text" class="form-control form-control-lg" name="Phone" id="Phone" placeholder="Phone*" aria-label="+x(xxx)xxx-xx-xx" required>
                    </div>
                    <!-- End Form -->
                  </div>
                  <!-- End Row -->
                  <div class="row gx-3">
                    <div class="col-lg-6">
                      <!-- Form -->
                      <div class="mb-3">
                        <select name="Service" id="Service" class="form-select form-select-lg" required>
                          <option selected="">Select Service</option>
                          {% for list in site.services %}
                          <option value="{{ list.page_title }}">{{ list.page_title }}</option>
                          {% endfor %}
                       </select>
                      </div>
                      <!-- End Form -->
                    </div>
                    <!-- End Col -->
                    <div class="col-lg-6">
                      <!-- Form -->
                      <div class="mb-3">
                        <select name="Location" id="Location" class="form-select form-select-lg" aria-label="Location" required>
                          <option selected="">Select Location</option>
                          <option value="Baton Rouge">Baton Rouge</option>
                          <option value="Lafayette">Lafayette</option>
                        </select>
                      </div>
                      <!-- End Form -->
                    </div>
                    <!-- End Col -->
                    <div class="col-12">
                      <!-- Form -->
                      <div class="mb-3">
                        <select name="Referral" id="Referral" class="form-select form-select-lg" aria-label="How did you hear about us?" required/>
                          <option selected="">How did you hear about us?</option>
                          <option value="Online/Google">Online/Google</option>
                          <option value="social">  Social Media</option>
                           <option value="referral"> Family/Friend Referral</option>
                           <option value="Other"> Other </option>
                        </select>
                      </div>
                      <!-- End Form -->
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->
                  <!-- Form -->
                  <div class="mb-3">
                    <textarea class="form-control form-control-lg" name="Project Details" id="details" placeholder="Tell us about your project*" aria-label="Tell us about your project" rows="4" required></textarea>
                  </div>
                  <!-- End Form -->

                  <div class="d-grid justify-content-end">
                    <button type="submit" class="g-recaptcha section-contact-btn" data-sitekey="6Ldh1CAqAAAAAJQEOViYwx2DGn-PLy6QqRshyicq"
                    data-callback='onSubmit' data-action='submit' >SUBMIT</button>
                  </div>
                  <script>
                      function onSubmit() {
                          document.getElementById("contactform").submit()
                      }
                  </script>
                </form>
                <!-- End Form -->
              </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!--  contact section end here  -->
