<!-- our se contact section stert here  -->
<div class="section-contact-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="section-contact-info">
            <h2>Contact Us</h2>
            <ul class="contact-top-list">
              <li><a href="#">Residential and Commercial Engineering</a></li>
              <li class="contact-extra"><a href="#"></a></li>
              <li><a href="#">Structural Engineering</a></li>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Aquatics Engineering</a></li>
            </ul>
            <img src="/assets/images/contact_01.webp" alt="contact">
            <ul class="contact-btm-list">
              <li><a href="#">BATON ROUGE</a></li>
              <li><a href="#">LAFAYETTE</a></li>            
            </ul>         
          </div>
        </div>
        <!-- contact info area end here  -->
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="section-contact-form">
            <p class="form-req mb-1 pe-2">*REQUIRED</p>  
            <div class="card">
              <div class="card-body">
                <!-- Heading -->              
                <form>
                  <div class="row gx-3">
                    <div class="col-12">
                       
                      <!-- Form -->
                      <div class="mb-3">
                        <input type="text" class="form-control form-control-lg" name="hireUsFormNameFirstName" id="hireUsFormFirstName" placeholder="First name" aria-label="First name">
                      </div>
                      <!-- End Form -->
                    </div>
                    <!-- End Col -->
    
                    <div class="col-12">
                      <!-- Form -->
                      <div class="mb-3">                     
                        <input type="text" class="form-control form-control-lg" name="hireUsFormNameLastName" id="hireUsFormLasttName" placeholder="Last name" aria-label="Last name">
                      </div>
                      <!-- End Form -->
                    </div>
                    <!-- End Col -->
                  </div>
                  <div class="col-12">
                    <!-- Form -->
                    <div class="mb-3">                     
                      <input type="text" class="form-control form-control-lg" name="hireUsFormNamePhone" id="hireUsFormPhone" placeholder="PHONE*" aria-label="+x(xxx)xxx-xx-xx">
                    </div>
                    <!-- End Form -->
                  </div>
                  <!-- End Row -->
    
                  <div class="row gx-3">
                    <div class="col-lg-6">
                      <!-- Form -->
                      <div class="mb-3">                      
                        <select name="hireUsFormNameBudget" id="hireUsFormBudget" class="form-select form-select-lg" aria-label="Tell us about your budget">
                          <option selected="">RESIDENTIAL OR COMMERCIAL</option>
                          <option value="1">RESIDENTIAL</option>
                          <option value="2">COMMERCIAL</option>                                            
                        </select>
                      </div>
                      <!-- End Form -->
                    </div>
                    <!-- End Col -->
                    <div class="col-lg-6">
                      <!-- Form -->
                      <div class="mb-3">                      
                        <select name="hireUsFormNameBudget" id="hireUsFormBudget" class="form-select form-select-lg" aria-label="Tell us about your budget">
                          <option selected="">WHICH LOCATION?</option>
                          <option value="1">USA</option>
                          <option value="2">UK</option>
                          <option value="3">CANADA</option>                                             
                        </select>
                      </div>
                      <!-- End Form -->
                    </div>
                    <!-- End Col -->  
                    <div class="col-12">
                      <!-- Form -->
                      <div class="mb-3">                      
                        <select name="hireUsFormNameBudget" id="hireUsFormBudget" class="form-select form-select-lg" aria-label="Tell us about your budget">
                          <option selected="">HOW DID YOU HEAR ABOUT US?</option>
                          <option value="1">Find job</option>
                          <option value="2">Find Website</option>                                                                  
                        </select>
                      </div>
                      <!-- End Form -->
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->
    
                  <!-- Form -->
                  <div class="mb-3">                  
                    <textarea class="form-control form-control-lg" name="hireUsFormNameDetails" id="hireUsFormDetails" placeholder="Message*" aria-label="Tell us about your ..." rows="4"></textarea>
                  </div>
                  <!-- End Form -->
    
                  <div class="d-grid justify-content-end">
                    <button type="submit" class="section-contact-btn">SUBMIT</button>
                  </div> 
                  
                </form>
                <!-- End Form -->
              </div>
            </div>
            </div>
        </div>
      </div>
    </div>  
  </div>
  <!-- our se contact section stert here  -->