    <!-- ========== FOOTER ========== -->
    <div class="col-md-12 text-center py-5">
        <img src="/assets/Images/footer-top-logo.png" alt="footer-top-logo">
    </div>
    <footer class="bg-primary py-4">
        <section class="container-fluid">
            <div class="px-5">
            <div class="row row-col-3 px-5 justify-content-lg-evenly justify-content-center text-center">
            <div class="col-12 col-md-4 d-md-flex d-block mb-3 mb-md-0">
                    <div class="col-lg-6">
                        <!-- Logo -->
                            <img class="" src="/assets/images/SEE-Web-New-White-Logo.svg" alt="SEE Logo">
                        <!-- End Logo -->
                    </div>
                    <div class="col-lg-6 d-none d-md-block">
                        <div>
                          <a class="section-footer-list" href="/service-residential">Residential</a> <span class="text-white"> |</span>  <a class="section-footer-list" href="/service-commercial">Commercial</a>
                        </div>
                        <div>
                          <a class="section-footer-list" href="/sitemap.xml">Sitemap</a> <span class="text-white"> |</span>   <a class="section-footer-list" href="/privacy-policy">Privacy Policy</a>
                        </div>
                    </div>
            </div>
            <div class="col-12 col-md-6  d-md-flex d-block mb-3 mb-md-0 justify-content-between mx-auto address">

                    <div class="col-lg-6 mb-3 mb-md-0">
                    <div>
                      <span class="fw-semibold me-2 text-white text-nowrap text-uppercase">{{site.data.general_settings.locations[0].city-state-zip | truncatewords: 2 | remove: ",..."}}</span><a class="section-footer-list fw-light" href="tel:{{site.data.general_settings.locations[0].phone}}">{{site.data.general_settings.locations[0].phone}}</a>
                    </div>
                    <div>

                           <span class="fw-semibold me-2 text-white text-uppercase">{{site.data.general_settings.locations[1].city-state-zip | truncatewords: 1 | remove: ",..."}}</span><a class="section-footer-list fw-light" href="tel:{{site.data.general_settings.locations[1].phone}}">{{site.data.general_settings.locations[1].phone}}</a>
                    </div>

                        </div>
                    <div class="col-lg-6">
                        <div>
                        <a class="text-white" href="https://maps.app.goo.gl/U9Utw9wxQDvzkptN8" target="_blank">{{site.data.general_settings.locations[0].address}} {{site.data.general_settings.locations[0].address2}} {{site.data.general_settings.locations[0].city-state-zip}}</a>
                        </div>
                        <div>
                            <a class="text-white" href="https://maps.app.goo.gl/Rybkne1Ab9ian3yx6" target="_blank">{{site.data.general_settings.locations[1].address}} {{site.data.general_settings.locations[1].address2}} {{site.data.general_settings.locations[1].city-state-zip}}</a>
                        </div>
                    </div>
            </div>
            <div class="col-12 col-md-2 d-md-flex d-block">
                    <div class="col-lg-12">
                        <ul class="d-flex justify-content-lg-end justify-content-center list-unstyled">
                            {% for social in site.data.general_settings.social %}
                            <li class="mx-3"><a class="btn btn-soft-light btn-xs btn-icon" href="{{social.link}}"><i class="bi-{{social.icon}}"></i></a></li>
                            {% endfor %}
                        </ul>
                    </div>
            </div>
                </div>
        </section>
    </footer>
