    <!-- ========== FOOTER ========== -->
    <div class="col-md-12 text-center py-5">
        <img src="/assets/Images/footer-top-logo.png" alt="footer-top-logo">
    </div>
    <footer class="bg-primary py-4">
        <section class="container-fluid">
            <div class="px-5">
            <div class="row px-5">
                        <div class="col-lg-2">
                            <!-- Logo -->
                            <a class="navbar-brand" href="/" aria-label="Space">
                                <img class="" src="/assets/Images/SEE-Wodmark-REV.png" alt="SEE-Wodmark-REV">
                            </a>
                            <!-- End Logo -->
                        </div>
                        <div class="col-lg-2">
                            <div>
                              <a class="section-footer-list" href="#">Residential | Commercial</a>
                            </div>
                            <div>
                              <a class="section-footer-list" href="#">Sitemap | Privacy Policy</a>
                            </div>
                        </div>
                        <div class="col-lg-1 me-3">
                            <div>
                                <span class="fw-semibold me-2 text-white text-nowrap">BATON ROUGE</span>
                            </div>
                            <div>
                                   <span class="fw-semibold me-2 text-white">LAFAYETTE</span>

                            </div>

                                </div>
                        <div class="col-lg-1">
                        <div>
                          <a class="section-footer-list" href="#">225-295-1880</a>
                        </div>
                        <div>

                               <a class="section-footer-list" href="#">337-988-7768</a>
                        </div>

                            </div>
                        <div class="col-lg-4">
                            <div>
                            <a class="text-white" href="#">4880 Bluebonnet Blvd, Suite A, Baton Rouge, LA
                                        70809</a>
                            </div>
                            <div>
                                <a class="text-white" href="#">345 Doucet Road #102, Lafayette, Louisiana
                                        70503</a>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <ul class="d-flex">
                                <li class="mx-3"><a class="btn btn-soft-light btn-xs btn-icon" href="#"><i
                                            class="bi-facebook"></i></a></li>
                                <li class="mx-3"><a class="btn btn-soft-light btn-xs btn-icon" href="#"><i
                                            class="fa-brands fa-x-twitter"></i></a></li>
                                <li class="mx-3"><a class="btn btn-soft-light btn-xs btn-icon" href="#"><i
                                            class="bi-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
        </section>
    </footer>
