 <!-- ========== HEADER ========== -->
 <header id="header" class="navbar navbar-expand-lg navbar-end navbar-absolute-top navbar-light navbar-show-hide"
 data-hs-header-options='{
   "fixMoment": 1000,
   "fixEffect": "slide"
 }'>
<div class="container-fluid">
<nav class="js-mega-menu navbar-nav-wrap mx-lg-5 px-lg-5 align-middle mt-2">
<!-- Default Logo -->
<a class="navbar-brand" href="/" aria-label="{{site.name}}">
 <img class="navbar-brand-logo" src="/assets/images/logo.png" alt="{{site.name}}">
</a>
<!-- End Default Logo -->
<!-- Toggler -->
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-default">
   <i class="bi-list"></i>
 </span>
 <span class="navbar-toggler-toggled">
   <i class="bi-x"></i>
 </span>
</button>
<!-- End Toggler -->

<!-- Collapse -->
<div class="collapse navbar-collapse" id="navbarNavDropdown">
 <div class="navbar-absolute-top-scroller">
   <ul class="navbar-nav">
	 <!-- Home -->
	 <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
	 <!-- End Home -->
	 <!-- ABOUT -->
	 <li class="nav-item"><a class="nav-link" href="about">ABOUT</a></li>
	 <!-- End ABOUT -->
	 <li class="hs-has-sub-menu nav-item">
	  <a id="pagesDropdown" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="services" role="button" data-bs-toggle="dropdown" aria-expanded="false">SERVICES</a>
	  <div class="hs-sub-menu dropdown-menu hs-sub-menu-desktop-lg animated" aria-labelledby="listingsDropdown" style="min-width: 14rem; display: none; animation-duration: 300ms;">
		<a class="dropdown-item " href="services">SERVICES</a>
		<a class="dropdown-item " href="service-interior">SERVICES-Interior</a>
	  </div>
	</li>
	 <!-- End SERVICES -->
	 <!-- Pages -->
	 <li class="nav-item"><a class="nav-link" href="featured">FEATURED PROJECTS</a></li>
	 <!-- End Pages -->
	 <li class="nav-item"><a class="nav-link" href="/">NEWS</a></li>
	 <!-- Portfolio -->
	 <li class="nav-item"><a class="nav-link" href="contact">CONTACT</a></li>
	 <!-- End Portfolio -->
   </ul>
 </div>
</div>
<!-- End Collapse -->
<div class="order-2 ms-auto d-xl-block d-none d-md-none d-lg-none text-end">
  <ul class="mb-0">
	<li class=""><a class=" border-bottom border-primary fw-semibold pb-1" href="tel:225-295-1880">BATON ROUGE<span class="header-number"> 225-295-1880</span></a></li>
	<li class="pt-1"><a href="tel:337-988-7768" class="fw-semibold">LAFAYETTE<span class="header-number"> 337-988-7768</span></a></li>
  </ul>
</div>
</nav>
</div>
</header>
