
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Title -->
<title>{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}</title>
<meta name="description" content="{% if page.description %} {{ page.description }} {% else %} {{ site.description }} {% endif %}" />
<!-- Favicon -->
<link rel="shortcut icon" href="/assets/Images/favicon.png">
<!-- Font -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="/assets/css/all.css">
<link rel="stylesheet" href="/assets/css/fontawesome.min.css">
<link rel="stylesheet" href="/assets/vendor/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="/assets/vendor/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css">
<link rel="stylesheet" href="/assets/vendor/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="/assets/vendor/tom-select/dist/css/tom-select.bootstrap5.css">
<!-- CSS -->
<link rel="stylesheet" href="/assets/css/theme.min.css">
<link rel="stylesheet" href="/assets/css/custom.css">
<link rel="stylesheet" href="/assets/css/style.css">

