   <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;" data-hs-go-to-options='{
   "offsetTop": 700,
   "position": {
	 "init": {
	   "right": "2rem"
	 },
	 "show": {
	   "bottom": "2rem"
	 },
	 "hide": {
	   "bottom": "-2rem"
	 }
   }
 }'>
	<i class="bi-chevron-up"></i>
</a>
<!-- ========== END SECONDARY CONTENTS ========== -->
<!-- JS Global Compulsory  -->
<script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- JS Implementing Plugins -->
<script src="/assets/js/fontawesome.min.js"></script>
<script src="/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
<script src="/assets/vendor/hs-show-animation/dist/hs-show-animation.min.js"></script>
<script src="/assets/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/countdown/countdown.js"></script>
<script src="/assets/vendor/shufflejs/dist/shuffle.js"></script>
<script src="/assets/vendor/tom-select/dist/js/tom-select.complete.min.js"></script>
<!-- JS Front -->
<script src="/assets/js/theme.min.js"></script>
<!-- JS Plugins Init. -->
<script src="/assets/js/custom.js"></script>
{{ site.data.general_settings.footer_code | raw }}
