<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
</head>
<body>
{{ site.data.general_settings.body_code | raw}}
{% include header.html %}
<!-- ========== END HEADER ========== -->
<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
<!-- Hero -->
<!-- CTA -->
<div class="bg-img-center gradient-y-overlay-primary" style="background-image: url({{ page.pages_header_image }});">
  <div class="container content-space-2 content-space-t-lg-6">
    <div class="w-100 ms-lg-auto me-auto text-lg-end text-start">
      <div class="mt-4">
        <h2 class="h1 text-white display-4 fw-normal">{{ page.page_title }}</h2>
      </div>
      <a class="btn btn-primary btn-transition rounded-pill" href="contact">CONTACT US</a>
    </div>
  </div>
</div>
<!-- End about Main hero area -->
<section>
{{ content }}
{% include contact.html %}
</section>
</main>
<!-- ========== END MAIN CONTENT ========== -->
{% include footer.html %}
{% include scripts.html %}
</body>
</html>
