<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
</head>
<body>
{% include header.html %}
<!-- ========== END HEADER ========== -->
<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
<!-- Hero -->
<!-- about Main hero area -->
<section class="{% if page.header_style_two %} services-hero-area {% else %} see-about-hero-area {% endif %}" style="background-image:url({{ page.pages_header_image }})">
   <div class="container-fluid">
       <div class="row">
           <div class="col-12 p-0">
               <div class="{% if page.header_style_two %} services-main-hero {% else %} about-main-hero {% endif %}">
                   <div class="about-hero-area">
                       <h2 class="about-hero-title">{{ page.page_title }}</h2>
                       <a class="about-hero-btn" href="#">CONTACT US</a>
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>
<!-- End about Main hero area -->
{{ content }}
{% include contact.html %}
</main>
<!-- ========== END MAIN CONTENT ========== -->
{% include footer.html %}
{% include scripts.html %}
</body>
</html>
